<a href="https://colab.research.google.com/github/sajithmenon/TrainClustering/blob/main/ML_project_TrainClustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importing all files
import pandas as pd
import numpy as np
import sklearn

In [ ]:
from google.colab import files

In [ ]:
%rm -rf TrainClustering
!git clone https://github.com/ZubeenK/ML_project

Cloning into 'ML_project'...
remote: Enumerating objects: 10, done.
remote: Counting objects: 100% (10/10), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 10 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (10/10), done.

In [ ]:
trains_mdf = pd.read_csv("/content/ML_project/GQPD_work.csv")

In [ ]:
display(trains_mdf)

       Unnamed: 0  TRAIN       WEEKDAYS  ...  mainBlocks commonBlocks  totalBlocks
0             581  11015  1,1,1,1,1,1,1  ...         1.0          0.0          1.0
1             582  11015  1,1,1,1,1,1,1  ...         1.0          0.0          1.0
2             583  11015  1,1,1,1,1,1,1  ...         1.0          0.0          1.0
3             584  11015  1,1,1,1,1,1,1  ...         1.0          0.0          1.0
4             585  11015  1,1,1,1,1,1,1  ...         1.0          0.0          1.0
...           ...    ...            ...  ...         ...          ...          ...
65645      215048  82902  1,1,1,0,1,1,1  ...         1.0          0.0          1.0
65646      215049  82902  1,1,1,0,1,1,1  ...         1.0          0.0          1.0
65647      215050  82902  1,1,1,0,1,1,1  ...         1.0          0.0          1.0
65648      215051  82902  1,1,1,0,1,1,1  ...         1.0          0.0          1.0
65649      215052  82902  1,1,1,0,1,1,1  ...         NaN          NaN          NaN

[65650 rows x 19 columns]

In [ ]:
trains_mdf.dtypes

Unnamed: 0            int64
TRAIN                 int64
WEEKDAYS             object
SEQ                   int64
STATION              object
ARVL                  int64
STPG                  int64
DPRT                  int64
NEXT                  int64
BLCKSCTN             object
COABLCKSCTN          object
DAY                   int64
stationNameAgain     object
stationCode           int64
Route                object
direction            object
mainBlocks          float64
commonBlocks        float64
totalBlocks         float64
dtype: object

In [ ]:
trains_mdf.columns

Index(['Unnamed: 0', 'TRAIN', 'WEEKDAYS', 'SEQ', 'STATION', 'ARVL', 'STPG',
       'DPRT', 'NEXT', 'BLCKSCTN', 'COABLCKSCTN', 'DAY', 'stationNameAgain',
       'stationCode', 'Route', 'direction', 'mainBlocks', 'commonBlocks',
       'totalBlocks'],
      dtype='object')

In [ ]:
daily_trains_df = trains_mdf[trains_mdf['WEEKDAYS']=='1,1,1,1,1,1,1']

In [ ]:
display(daily_trains_df)

       Unnamed: 0  TRAIN       WEEKDAYS  ...  mainBlocks commonBlocks  totalBlocks
0             581  11015  1,1,1,1,1,1,1  ...         1.0          0.0          1.0
1             582  11015  1,1,1,1,1,1,1  ...         1.0          0.0          1.0
2             583  11015  1,1,1,1,1,1,1  ...         1.0          0.0          1.0
3             584  11015  1,1,1,1,1,1,1  ...         1.0          0.0          1.0
4             585  11015  1,1,1,1,1,1,1  ...         1.0          0.0          1.0
...           ...    ...            ...  ...         ...          ...          ...
65169      213987  79317  1,1,1,1,1,1,1  ...         NaN          NaN          NaN
65170      213988  79318  1,1,1,1,1,1,1  ...         NaN          NaN          NaN
65171      213989  79455  1,1,1,1,1,1,1  ...         1.0          0.0          1.0
65172      213990  79455  1,1,1,1,1,1,1  ...         NaN          NaN          NaN
65173      213991  79456  1,1,1,1,1,1,1  ...         NaN          NaN          NaN

[16002 rows x 19 columns]

In [ ]:
non_daily_trains_df = pd.DataFrame(trains_mdf[trains_mdf['WEEKDAYS']!='1,1,1,1,1,1,1']).reset_index(drop = True)
non_daily_trains_df

       Unnamed: 0  TRAIN       WEEKDAYS  ...  mainBlocks commonBlocks  totalBlocks
0            2368  11033  0,0,0,1,0,0,0  ...         NaN          NaN          NaN
1            2373  11034  0,0,0,0,0,1,0  ...         NaN          NaN          NaN
2            2519  11037  0,0,0,0,1,0,0  ...         NaN          NaN          NaN
3            2524  11038  0,0,0,0,0,0,1  ...         NaN          NaN          NaN
4            3481  11045  0,0,0,0,0,1,0  ...         1.0          0.0          1.0
...           ...    ...            ...  ...         ...          ...          ...
49643      215048  82902  1,1,1,0,1,1,1  ...         1.0          0.0          1.0
49644      215049  82902  1,1,1,0,1,1,1  ...         1.0          0.0          1.0
49645      215050  82902  1,1,1,0,1,1,1  ...         1.0          0.0          1.0
49646      215051  82902  1,1,1,0,1,1,1  ...         1.0          0.0          1.0
49647      215052  82902  1,1,1,0,1,1,1  ...         NaN          NaN          NaN

[49648 rows x 19 columns]

In [ ]:
non_daily_trains_df['Mon'] = -1
non_daily_trains_df['Tue'] = -1
non_daily_trains_df['Wed'] = -1
non_daily_trains_df['Thu'] = -1
non_daily_trains_df['Fri'] = -1
non_daily_trains_df['Sat'] = -1
non_daily_trains_df['Sun'] = -1

In [ ]:
non_daily_trains_df

       Unnamed: 0  TRAIN       WEEKDAYS  SEQ STATION  ...  Wed  Thu  Fri  Sat Sun
0            2368  11033  0,0,0,1,0,0,0   96      ET  ...   -1   -1   -1   -1  -1
1            2373  11034  0,0,0,0,0,1,0  171      ET  ...   -1   -1   -1   -1  -1
2            2519  11037  0,0,0,0,1,0,0   96      ET  ...   -1   -1   -1   -1  -1
3            2524  11038  0,0,0,0,0,0,1  131      ET  ...   -1   -1   -1   -1  -1
4            3481  11045  0,0,0,0,0,1,0   87    MJRI  ...   -1   -1   -1   -1  -1
...           ...    ...            ...  ...     ...  ...  ...  ...  ...  ...  ..
49643      215048  82902  1,1,1,0,1,1,1   84     BVI  ...   -1   -1   -1   -1  -1
49644      215049  82902  1,1,1,0,1,1,1   85     ADH  ...   -1   -1   -1   -1  -1
49645      215050  82902  1,1,1,0,1,1,1   86      BA  ...   -1   -1   -1   -1  -1
49646      215051  82902  1,1,1,0,1,1,1   87     DDR  ...   -1   -1   -1   -1  -1
49647      215052  82902  1,1,1,0,1,1,1   88    MMCT  ...   -1   -1   -1   -1  -1

[49648 rows x 26 columns]

In [ ]:
for i in non_daily_trains_df.index:
  dayList = non_daily_trains_df['WEEKDAYS'][i].split(sep=',')
  dayList = [int(day) for day in dayList]
  
  non_daily_trains_df['Mon'][i] = dayList[0]
  non_daily_trains_df['Tue'][i] = dayList[1]
  non_daily_trains_df['Wed'][i] = dayList[2]
  non_daily_trains_df['Thu'][i] = dayList[3]
  non_daily_trains_df['Fri'][i] = dayList[4]
  non_daily_trains_df['Sat'][i] = dayList[5]
  non_daily_trains_df['Sun'][i] = dayList[6]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
display(non_daily_trains_df)

       Unnamed: 0  TRAIN       WEEKDAYS  SEQ STATION  ...  Wed  Thu  Fri  Sat Sun
0            2368  11033  0,0,0,1,0,0,0   96      ET  ...    0    1    0    0   0
1            2373  11034  0,0,0,0,0,1,0  171      ET  ...    0    0    0    1   0
2            2519  11037  0,0,0,0,1,0,0   96      ET  ...    0    0    1    0   0
3            2524  11038  0,0,0,0,0,0,1  131      ET  ...    0    0    0    0   1
4            3481  11045  0,0,0,0,0,1,0   87    MJRI  ...    0    0    0    1   0
...           ...    ...            ...  ...     ...  ...  ...  ...  ...  ...  ..
49643      215048  82902  1,1,1,0,1,1,1   84     BVI  ...    1    0    1    1   1
49644      215049  82902  1,1,1,0,1,1,1   85     ADH  ...    1    0    1    1   1
49645      215050  82902  1,1,1,0,1,1,1   86      BA  ...    1    0    1    1   1
49646      215051  82902  1,1,1,0,1,1,1   87     DDR  ...    1    0    1    1   1
49647      215052  82902  1,1,1,0,1,1,1   88    MMCT  ...    1    0    1    1   1

[49648 rows x 26 columns]